* {
  margin: 0;
}

.main-div {
  display: flex;
  margin: 10px;
}

.blog {
  border-style: inset;
  border-color: brown;
  border-radius: 25px;
  margin: 50px;
  padding: 20px;
}

.demo {
  background-image: url("/images/3fa1c6f3-e910-4b9c-a847-5336b0cc7a7a\ \(1\).jpg");
  opacity: 0.1;
  padding: 25px;
  font-size: 50px;
  font-weight: bolder;
}
